/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    font-family   : "Open Sans", sans-serif;
    box-sizing    : inherit;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

*:before, *:after {
    box-sizing: inherit;
}

html {
    font-family: "Open Sans", sans-serif;
    box-sizing : border-box;
}

html, body{
    margin:   0;
    padding:  0;
}

body{
}

a{
    color:           inherit !important;
    text-decoration: none;
}

/* style list */
ul li{
    list-style: none;
}

ul.border-1 li{
    border-top: 1px solid rgba(0,0,0,.1);
}

/* TO DO insert animation */
li.dropdown > ul{
    display:     none;
}

li.dropdown-active > ul{
    background-color: rgba(0,0,0,.15);
    display:          block;
}

li.dropdown-active > span > i{
    -webkit-transform: rotateX(180deg); /* Safari */
    transform: rotateX(180deg);
}

/* fine list */

/* */
h1, h2, h3, h4, h5{
    margin: 0;
}

h5{
    font-size:      inherit;
    margin-bottom:  13px;
    font-weight:    bolder;
}

input, textarea, select{
    box-shadow:     none;
    outline:        none;
    border:         1px solid rgba(0,0,0,.1);
    padding:        5px;
    color:          black;
    height:         30px;
}
label{
    margin-bottom:  5px;
    display:        block;
}

.selectable, input, textarea{
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -webkit-touch-callout: text;
}

.all-selectable, .all-selectable *{
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
    -webkit-touch-callout: all;
}

.space-line{
    border-bottom: 1px solid gray;
    border-color:  rgba(0,0,0,.1);
}

.space20{
    margin:        20px 0px;
}

.space40{
    margin:        40px 0px;
}

/* color */
.Bgray{
    background-color: #EEE;
}

.Bblue{
    background-color: #536DFE;
    color:            white;
}

.Bwhite{
    background-color: white;
    color:            black;
}

.Bblack{
    background-color: rgb(60,60,60);
    color:            white;
}

.Bred{
    background-color: #F85133;
    color:            white;
}

.Blight-blue{
    background-color: rgb(127, 179, 254);
    color:            white;
}

.only-mob{
    display:  none;
}

.hide{
    display: none;
}

.no-font{
    font-size: 0px;
}

.max-full{
    max-width: 100%;
}

.split{
    display: inline-block;
    vertical-align: top;
}
.split80{
    width: 80%;
}
.split70{
    width: 70%;
}
.split50{
    width: 50%;
}
.split33{
    width: 33.3333%;
}
.split30{
    width: 30%;
}
.split25{
    width: 25%;
}
.split20{
    width: 20%;
}

.q40{
    height: 40px;
    width:  40px;
}
.q50{
    height: 50px;
    width:  50px;
}
.q60{
    height: 60px;
    width:  60px;
}
.q70{
    height: 70px;
    width:  70px;
}
.q80{
    height: 80px;
    width:  80px;
}

.padd10{
    padding: 10px;
}
.padd20{
    padding: 20px;
}

.paddLR5{
    padding: 0px 5px;
}

.paddTB2{
    padding: 2px 0px;
}
.paddTB5{
    padding: 5px 0px;
}
.paddTB10{
    padding: 10px 0px;
}
.paddTB20{
    padding: 20px 0px;
}
.paddTB50{
    padding: 50px 0px;
}

.paddLR10{
    padding: 0px 10px;
}
.paddLR20{
    padding: 0px 20px;
}
.paddLR50{
    padding: 0px 50px;
}

.marg10{
    margin: 10px;
}
.marg20{
    margin: 20px;
}


.op8{
    opacity: .8;
}
.op7{
    opacity: .7;
}
.op6{
    opacity: .6;
}
.op5{
    opacity: .5;
}
.op4{
    opacity: .4;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.limitatore{
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
}

.min-limitatore{
    width: 95%;
    max-width: 450px;
    margin: 0 auto;
}

.anchor{
    position: relative;
}

.btn {
    width:       100%;
    margin:      0 auto;
    display:     block;
    text-align:  center;
    font-size:   14px;
    line-height: 18px;
    padding:     10px 0px;
    color:       inherit;
    cursor:      pointer;
}

.btn-inline{
    display: inline-block;
    width:   auto;
    padding: 10px 20px;
}

.btn a{
}

.btn-success{
    color:            white;
    background-color: #3DC929;
}

.btn-normal{
    background-color: rgba(0,0,0,.1);
}

.f11{
    font-size: 11px;
}
.f14{
    font-size: 14px;
}

/* icon */
.icon{
    text-align: center;
}

.icon-36{
    font-size: 36px;
}

.icon-on-right-center{
    position:   absolute;
    right:      0px;
    top:        50%;
}

.icon-abs-40{
    margin-top: -20px;
    width:       40px;
    height:      40px;
    line-height: 40px;
}

#velina{
    position:           fixed;
    top:                0px;
    left:               0px;
    width:              100%;
    height:             100%;
    background-color:   rgba(0,0,0,.8);
    z-index:            99;
}





/* fine arrow */

/* ------------------------------------------------ *\
------------------ STRUCTURE LAYOUT ------------------
\* ------------------------------------------------ */
/* navigator */
.nav-side{
    position: fixed;
    height:   100%;
    width:    280px;
    z-index:  100;
}

.nav-side .nav-title{
}

.nav-side .nav-title a{
    display:     block;
    font-size:   25px;
    line-height: 80px;
    height:      80px;
    padding:     20px;
}

.nav-side .nav-title img{
    display:    block;
    height:     40px;
}

.nav-side .nav-subtitle{
    height:      60px;
    line-height: 60px;
    font-size:   20px;
    text-align:  center;
}

.nav-side .nav-ul{
    overflow: auto;
    height:   calc( 100% - 80px );
}

.nav-side ul li{
    cursor:    pointer;
    font-size: 15px;
}

.nav-side ul li a, .nav-side ul li span{
    padding:         20px;
    display:         block;
    text-decoration: none;
}



.open-nav-side{
    position:           absolute;
    top:                10px;
    left:               10px;
    height:             30px;
    width:              30px;
}

.on-nav-side .open-nav-side{
    display: none;
}


/* corpo */
.on-nav-side{
    margin-left: 280px;
}

.article{

}

.article img.full-screen{
    width: 95%;
    margin: 0 auto;
}

.article .intro{
    position:       relative;
    padding-top:    14vh;
    padding-bottom: 30px;
}

.article .intro h1{
    padding:     10px 0px;
    font-size:   50px;
}

.article .intro h3{
    line-height: 26px;
    font-size:   24px;
}

.code{
    padding:            20px;
    background-color:   rgba(0,0,0,.8);
    color:              rgba(255,255,255,.8);
    letter-spacing:     1px;
}

.code-preview{
    text-align:         center;
    padding:            5px;
    margin:             10px 0px;
    background-color:   rgba(0,0,0,.05);
    border:             1px solid rgba(0,0,0,.1);
}


.normal-table{
    width: 100%;
}

.normal-table tr th{
    padding: 10px 0px;
}

.normal-table tr td{
    padding: 5px 0px;
}


/* MODAL */
.modal-container{
    display:            none;
    position:           fixed;
    top:                0px;
    left:               0px;
    width:              100%;
    height:             100%;
    background-color:   rgba(0,0,0,.7);
    z-index:            1000;
}

.modal{
    display:            block;
    margin:             0 auto;
    margin-top:         10vh;
    background-color:   white;
}

.modal textarea{
    height: auto;
}


/* TOAST */
#toast{
    display:            none;
    position:           fixed;
    text-transform:     uppercase;
    bottom:             -100px;
    left:               0px;
    width:              100%;
    background-color:   rgb(40,40,40);
    color:              #ECFF50;
    padding:            15px 30px;
    z-index:            1000;

-webkit-transition:     bottom .4s;
   -moz-transition:     bottom .4s;
    -ms-transition:     bottom .4s;
     -o-transition:     bottom .4s;
        transition:     bottom .4s;
}

/* specifico */

.all-inside select, .all-inside input, .all-inside textarea, .all-inside label{
    width: 100%;
}

h3.min-title{
    margin:         20px 0px 40px 0px;
    text-transform: uppercase;
    opacity:        .8;
}

ul.tag-selectable li{
    cursor:         pointer;
    border-radius:  6px;
    padding:        10px 20px;
}



/* ------------------------------------------------ *\
--------------------- TEXT LAYOUT --------------------
\* ------------------------------------------------ */
.paragraph{
    line-height: 140%;
    text-align:  justify;
}

@media screen and (max-width: 620px){
    .only-mob{
        display:   block;
    }

    .no-mob{
        display:   none;
    }

    .split30,.split33,.split50,.split70,.split80{
        width: 100%;
    }
    .split20,.split25{
        width: 50%;
    }

    .nav-side{
        display: none;
    }

    .on-nav-side{
        margin-left: 0px;
    }
    .on-nav-side .open-nav-side{
        display: block;
    }

    .nav-side-open{
        width:   90%;
        display: block;
    }

    .nav-side-open::before{
    }


    .article .intro{
        padding-top:   60px;
    }
}