.hljs-tag, .hljs-doctype{
	color: white;
}

.hljs-title{
	font-weight: bold;
	color: #FF3C59;
}

.hljs-attribute{
	color: #AAFF00;
}

.hljs-value, .hljs-string{
	color: #8AFBFF;
}

.hljs-comment{
	color: white;
	opacity: .4;
}

/* <? .... ?> */
.hljs-pi{
	color: white;
	opacity: .4;
}

.hljs-cdata{
	
}

.ident{
	margin: 0px 10px;
}


