<div id="velina" class="hide"></div>
<div class="nav-side Bwhite" id="nav-JADE">
	<div class="nav-title">
		<a href="/JADE/v1.0/">
			<img src="/img/logo1.png" />
			<!--jade-->
		</a>
	</div>
	<!--<div class="nav-subtitle">
		INTRODUZIONE
	</div>-->
	<div class="nav-ul">
		<ul class="border-1">
			<li>
				<a href="/JADE/v1.0/">
					INTRODUZIONE
				</a>
			</li>
			<li class="dropdown"> <!-- dropdown-active -->
				<span class="anchor">
					ATLETA
					<i class="material-icons md-24 icon icon-on-right-center icon-abs-40">arrow_drop_down</i>  <!-- arrow-down -->
				</span>
				<ul>
					<li class="dropdown">
						<span class="anchor">
							Badge Atleta
							<i class="material-icons md-24 icon icon-on-right-center icon-abs-40">arrow_drop_down</i>  <!-- arrow-down -->
						</span>
						<ul>
							<li>
								<a title="" href="/JADE/v1.0/badge-atleta-esteso">
									Badge Atleta esteso
								</a>
							</li>
							<li>
								<a title="" href="/JADE/v1.0/badge-atleta">
									Badge Atleta ridotto
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a title="" href="/JADE/v1.0/atleta-pb">
							Personal Best
						</a>
					</li>
					<li>
						<a title="" href="/JADE/v1.0/atleta-carriera">
							Carriera
						</a>
					</li>
					<li>
						<a title="" href="/JADE/v1.0/atleta-collegamento">
							Collegamento
						</a>
					</li>
				</ul>
			</li>
			<li class="dropdown"> <!-- dropdown-active -->
				<span class="anchor">
					SOCIETA
					<i class="material-icons md-24 icon icon-on-right-center icon-abs-40">arrow_drop_down</i>  <!-- arrow-down -->
				</span>
				<ul>
					<li>
						<a title="" href="/JADE/v1.0/badge-societa">
							Badge Societa
						</a>
					</li>
					<li>
						<a title="" href="/JADE/v1.0/societa-lista-atleti">
							Lista Atleti
						</a>
					</li>
					<li>
						<a title="" href="/JADE/v1.0/societa-record-correnti">
							Record
						</a>
					</li>
				</ul>
			</li>
			<li class="dropdown"> <!-- dropdown-active -->
				<span class="anchor">
					GARE
					<i class="material-icons md-24 icon icon-on-right-center icon-abs-40">arrow_drop_down</i>  <!-- arrow-down -->
				</span>
				<ul>
					<li>
						<a title="" href="/JADE/v1.0/gare-manifestazioni">
							Manifestazioni
						</a>
					</li>
					<li>
						<a title="" href="/JADE/v1.0/gare-risultati-real-time">
							Risultati in tempo reale
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>