iframe{
	border: 0px !important;
	margin: 5px 0px;
	z-index: 1000;
}


a.j-badge-atleta-pb{
	position: relative;
}

a.j-badge-atleta-pb iframe{
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	width: 350px;
}

a.j-badge-atleta-pb.j-iframe-right iframe{
	right: 0px;
}

a.j-badge-atleta-pb:hover iframe{
	display: block;
}


a.j_iframe_right iframe{
	right: 0px;
	left:  auto;
}

a.j_iframe_center iframe{
	left: 			50%;
	margin-left: 	-175px;
}