@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    font-family   : "Open Sans", sans-serif;
    box-sizing    : inherit;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

*:before, *:after {
    box-sizing: inherit;
}

*{
    font-family: "Open Sans", sans-serif;
    box-sizing : border-box;

    margin:   0;
    padding:  0;
}

a{
    color:           inherit !important;
    text-decoration: none;
}

body{
    background-color: transparent;
}

/* style list */
ul li{
    list-style: none;
}

input, textarea, select{
    box-shadow:     none;
    outline:        none;
    border:         1px solid rgba(0,0,0,.1);
    padding:        5px;
    color:          black;
    height:         30px;
}

label{
    margin-bottom:  5px;
    display:        block;
}

.selectable, input, textarea{
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -webkit-touch-callout: text;
}

.all-selectable{
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
    -webkit-touch-callout: all;
}

.space-line{
    border-bottom: 1px solid gray;
    border-color:  rgba(0,0,0,.1);
}

.space5{
    margin: 5px 0px;
}

.space10{
    margin: 10px 0px;
}

.space20{
    margin: 20px 0px;
}

.space40{
    margin: 40px 0px;
}

/* color */
.Bgray{
    background-color:   #EEE;
}

.Bdark{
    background-color:   #333;
    color:              white;
}

.Bblue{
    background-color:   #536DFE;
    color:              white;
}
.Bgender2{
    background-color:   #536DFE;
    color:              white;
}
.Bgender3{
    background-color:   pink;
    color:              white;
}


.Cblue{
    color:              #536DFE;
}
.Cred{
    color:              #F85133;
}

.bolder{
    font-weight: bolder;
}

.only-mob{
    display:  none;
}

.hide{
    display: none;
}

.no-font{
    font-size: 0px;
}

.split{
    display: inline-block;
    vertical-align: top;
}
.split80{
    width: 80%;
}
.split70{
    width: 70%;
}
.split60{
    width: 60%;
}
.split50{
    width: 50%;
}
.split33{
    width: 33.3333%;
}
.split30{
    width: 30%;
}
.split25{
    width: 25%;
}
.split20{
    width: 20%;
}
.split15{
    width: 15%;
}

.full-split80{
    width: 80%;
}
.full-split70{
    width: 70%;
}
.full-split60{
    width: 60%;
}
.full-split50{
    width: 50%;
}
.full-split33{
    width: 33.3333%;
}
.full-split30{
    width: 30%;
}
.full-split25{
    width: 25%;
}
.full-split20{
    width: 20%;
}
.full-split15{
    width: 15%;
}

.q40{
    height: 40px;
    width:  40px;
}
.q50{
    height: 50px;
    width:  50px;
}
.q60{
    height: 60px;
    width:  60px;
}
.q70{
    height: 70px;
    width:  70px;
}
.q80{
    height: 80px;
    width:  80px;
}
.q100{
    height: 100px;
    width:  100px;
}

.padd10{
    padding: 10px;
}
.padd20{
    padding: 20px;
}

.paddLR5{
    padding: 0px 5px;
}


.paddTB5{
    padding-top:     5px;
    padding-bottom:  5px;
}
.paddTB10{
    padding-top:     10px;
    padding-bottom:  10px;
}
.paddTB20{
    padding-top:     20px;
    padding-bottom:  20px;
}
.paddTB50{
    padding-top:     50px;
    padding-bottom:  50px;
}

.paddLR10{
    padding: 0px 10px;
}
.paddLR20{
    padding: 0px 20px;
}
.paddLR50{
    padding: 0px 50px;
}

.marg10{
    margin: 10px;
}
.marg20{
    margin: 20px;
}


.op8{
    opacity: .8;
}
.op7{
    opacity: .7;
}
.op6{
    opacity: .6;
}
.op5{
    opacity: .5;
}
.op4{
    opacity: .4;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.limitatore{
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
}

.mini-limitatore{
    width: 95%;
    max-width: 450px;
    margin: 0 auto;
}

.anchor{
    position: relative;
}

.btn {
    width:       100%;
    margin:      0 auto;
    display:     block;
    text-align:  center;
    font-size:   14px;
    line-height: 18px;
    padding:     10px 0px;
    color:       inherit;
}

.btn-inline{
    display: inline-block;
    width:   auto;
    padding: 10px 20px;
}

.btn a{
}

.btn-success{
    color:            white;
    background-color: #3DC929;
}

.btn-normal{
    background-color: rgba(0,0,0,.1);
}

.semi-title{
    text-transform: uppercase;
    font-weight:    bolder;
}

.f11{
    font-size: 11px;
}
.f12{
    font-size: 12px;
}
.f13{
    font-size: 13px;
}
.f14{
    font-size: 14px;
}
.f16{
    font-size: 16px;
}
.f25{
    font-size: 25px;
}

/* icon */
.icon{
    text-align: center;
}

.icon-on-right-center{
    position:   absolute;
    right:      0px;
    top:        50%;
}

.icon-abs-40{
    margin-top: -20px;
    width:       40px;
    height:      40px;
    line-height: 40px;
}

#velina{
    position:           fixed;
    top:                0px;
    left:               0px;
    width:              100%;
    height:             100%;
    background-color:   rgba(0,0,0,.8);
    z-index:            99;
}

.normal-table{
    width:              100%;
    background-color:   white;
}

.normal-table tr th{
    padding: 10px 0px;
}

.normal-table tr td{
    padding: 5px 0px;
}


/* ANIMATION */
/* ---------------------------------------------------------------------------------------------------------------------------- */
/* ANIMATION */
/* ---------------------------------------------------------------------------------------------------------------------------- */
/* ANIMATION */
/* ---------------------------------------------------------------------------------------------------------------------------- */
/* ANIMATION */
/* ---------------------------------------------------------------------------------------------------------------------------- */

.mini{
    margin: 15px auto !important;
    width: 47.5px !important;
    height: 47.5px !important;
    border-right: 3px solid white !important;

    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.loading { /* Outer Ring */
  margin: 100px auto;
  width: 95px;
  height: 95px;
  border-right: 5px solid #66a3e0;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
   
  /* call rotate animation */
  -webkit-animation: rotate 2s linear 0s infinite normal;
  -moz-animation: rotate 2s linear 0s infinite normal;
  -o-animation: rotate 2s linear 0s infinite normal;
  -ms-animation: rotate 2s linear 0s infinite normal;
  animation: rotate 2s linear 0s infinite normal;
}

.mini .loading-medium{
    width: 37.5px !important;
    height: 27.5px !important;
    border-right: 3px solid white !important;
    margin: 7.5px auto;
    border-right: 3px solid #66a3e0;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.loading-medium { /* Middle Ring */
    margin: 15px auto;
    display: block;
    width: 75px;
    height: 55px;
    border-right: 5px solid #66a3e0;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 80px;
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;    

    /* call rotate animation */
    -webkit-animation: rotate 2s linear 0s infinite normal;
    -moz-animation: rotate 2s linear 0s infinite normal;
    -o-animation: rotate 2s linear 0s infinite normal;
    -ms-animation: rotate 2s linear 0s infinite normal;
    animation: rotate 2s linear 0s infinite normal;
}

.mini .loading-small{
    width: 27.5px !important;
    height: 7.5px !important;
    border-right: 3px solid white !important;
    margin: 7.5px auto;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.loading-small { /* Inner Ring */
    margin: 15px auto;
    display: block;
    width: 55px;
    height: 15px;
    border-right: 5px solid #66a3e0;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;    

    /* call rotate animation */
    -webkit-animation: rotate 2s linear 0s infinite normal;
    -moz-animation: rotate 2s linear 0s infinite normal;
    -o-animation: rotate 2s linear 0s infinite normal;
    -ms-animation: rotate 2s linear 0s infinite normal;
    animation: rotate 2s linear 0s infinite normal;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to { 
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  from {
    -o-transform: rotate(0deg);
  }
  to { 
    -o-transform: rotate(360deg);
  }
}
@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
  }
  to { 
    -ms-transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}




/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* ANIMAZIONE PIU' LEGGERA! */
/* Animation keyframes */
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-o-keyframes spin {
    from { -o-transform: rotate(0deg); }
    to { -o-transform: rotate(360deg); }
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
 
/* Loading animation container */
.load {
    position: relative;
    width: 28px;
    height: 28px;
}
 
/* Spinning circle (inner circle) */
.load .maskedCircle {
    width: 20px;
    height: 20px;
    border-radius: 12px;
    border: 3px solid #F85133;
}
 
/* Spinning circle mask */
.load .mask {
    width: 12px;
    height: 12px;
    overflow: hidden;
}
 
/* Spinner */
.load .spinner {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 26px;
    height: 26px;
    -webkit-animation: spin .6s infinite cubic-bezier(0.03, 0.03, 0.10, 0.10);
    -moz-animation:  spin .6s infinite linear;
    -o-animation:  spin .6s infinite linear;
    -ms-animation:  spin .6s infinite linear;
    animation: spin .6s infinite linear;
}


/* ------------------------------------------------ *\
--------------------- TEXT LAYOUT --------------------
\* ------------------------------------------------ */
.paragraph{
    line-height: 140%;
    text-align:  justify;
}


/* ------------------------------------------------ *\
--------------------- badge atleta -------------------
\* ------------------------------------------------ */
.badge{
    max-width:  350px;
    margin:     0 auto;
    text-align: left;
    border:     1px solid rgba(0,0,0,.05);
    box-shadow: 0px 0px 8px rgba(0,0,0,.1);
    font-size:  0px;

    background-color: white;
}

.badge .full-img img{
    width: 100%;
}

.badge img{
    display: block;
}

.badge .textBox{
    padding:   10px;
    max-width: calc( 100% - 100px );
}

.badge h3{
    font-size:   22px;
    line-height: 30px;
}

.badge p{
    font-size:   14px;
    line-height: 17px;
}

/* versione mini */
.badge.minBadge{
    display:        inline-block;
    max-width:      auto;
    font-size:      0px;
    position:       relative;
}
.badge.minBadge .textBox{
    opacity:            0;
    position:           absolute;
    bottom:             0px;
    left:               0px;
    width:              100%;
    padding:            5px;
    background-color:   rgba(0,0,0,.6);
    color:              rgba(255,255,255,.8);

-webkit-transition:     opacity .4s;
   -moz-transition:     opacity .4s;
    -ms-transition:     opacity .4s;
     -o-transition:     opacity .4s;
        transition:     opacity .4s;
}
.badge.minBadge .textBox h3{
    font-size:          14px;
    line-height:        18px;
}
.badge.minBadge .textBox p, .badge.minBadge .textBox span{
    display:            none;
}
.badge.minBadge:hover .textBox{
    opacity: 1;
}

.google-visualization-tooltip{
    margin-left: -13px !important;
    border: 0px !important;
    border-radius: 6px !important;
}

.tooltipMe{
    padding: 12px 20px 12px 12px;
    text-align: left;
    border-radius: 22px;
}



/* collegamento atleta */


/* ------------------------------------------------ *\
------------------------- CLUB -----------------------
\* ------------------------------------------------ */
/* badge-societa */
.badge-societa{

}

.lista-atleti{
    font-size: 0px;
}

.lista-atleti .badge{
    width:              33.3333%;
    display:            inline-block;
    vertical-align:     top;

    border:             0;
    box-shadow:         0 0 0;

    background-color:   transparent;
}

.lista-atleti .badge img{
    height: 60px;
    width:  60px;
    margin: 10px;
}

.lista-atleti .badge .textBox{
    max-width: calc( 100% - 80px );
}

.lista-atleti .badge h3{
    font-size:   19px;
    line-height: 30px;
}

.lista-atleti .badge p{
    font-size:   13px;
    line-height: 15px;
    opacity:     .8;
}



/* ------------------------------------------------ *\
------------------- MANIFESTAZIONI -------------------
\* ------------------------------------------------ */

.old-man .no-old{
    display: none;
}

@media screen and (max-width: 620px){
    .only-mob{
        display:   block;
    }

    .no-mob{
        display:   none;
    }

    .split30,.split33,.split50,.split70,.split80{
        width: 100%;
    }
    .split20,.split25{
        width: 50%;
    }


    /* societa */
    .lista-atleti .badge{
        width: 50%;
    }

    .lista-atleti .badge img{
        height: 50px;
        width:  50px;
        margin: 5px 5px 5px 0px;
    }

    .lista-atleti .badge .textBox{
        padding:   5px 0px;
        max-width: calc( 100% - 55px );
    }

    .lista-atleti .badge h3{
        font-size:      14px;
        line-height:    18px;
    }

    .lista-atleti .badge p{
        font-size:      12px;
    }
}